<section
  class="page-width recommendations"
  data-product-recommendations
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}&intent=related"
>
  {% if recommendations.performed and recommendations.products_count > 0 %}
    <h2 class="section-heading">{{ section.settings.heading }}</h2>
    <div class="product-grid" data-recommendation-grid style="margin-top: 1.4rem;">
      {% for recommendation in recommendations.products %}
        {% render 'product-card', product: recommendation, show_vendor: false %}
      {% endfor %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Often bought together",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Often bought together"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Products",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ]
}
{% endschema %}
